<!DOCTYPE html>
<html>

<head>
    <title>Piopio</title>
    <%= csrf_meta_tags %>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light text-muted" style="background-color: #e3f2fd;">
  <%= fa_icon "twitter"%>
  <div class="container">
  <a class="navbar-brand" href="#">PioPio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "Inicio", root_path, class: "navbar-brand" %>
      <!-- Agrupa los enlaces de navegación, formularios y otro contenido desplegable -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
          <li><%= link_to "Compose New Tweet", new_tweet_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true" aria-expanded="false">
                 Opciones </a>
              <ul class="dropdown-menu">
                              <% if user_signed_in? %>
                  <li><%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-primary" %> </li>
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %></li>
                <%else%>
                  <%= link_to "Logueate", new_user_session_path, class: "btn btn-primary" %>
                  <%= button_to "Registrate", new_user_registration_path, :class => "btn btn-secondary", :method => :get %>
                <% end %>
              </ul>
            </li>
            <% if current_user.avatar.blank? == false %>
              <%= image_tag current_user.avatar.url, size:50 if current_user.avatar.url %>
            <%end%>
          <%= current_user.username %> <span class="caret"></span>
          <% end %>
        </ul>
      </div>
      </div>
    </div>
  </nav>
  <%= fa_icon "ambulance"%>
  <%= fa_icon "user-secret"%>
  <%= fa_icon "bug"%>
  <h1 class="text-success">
  <%= fa_icon "android"%>
  </h1>

	<div class="container">
    <%= yield %>
	</div>
</body>

</html>